.count {
  display: flex;
  margin: auto;
  width: 50%;
  height: 10%;
  border: 1px solid #ff006a;
  color: #1adada;
.btn{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: #79009f;
  background: #c800ff;
}
}

