.count {
  display: flex;
  margin: auto;
  width: 50%;
  height: 10%;
  border: 1px solid #ff006a;
  color: #1adada;
.btn{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: #79009f;
  background: #c800ff;
}
  .field {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid #c800ff;
    box-sizing: border-box;

  }
  }

