body {
    /*background: radial-gradient(circle at 80% 50%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);*/

    /*background-color: #515369;*/
}

/*______________header______________*/

.logo{
    width: 80px;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 15px;
}

/*___________________*container*___________________________*/

.container{
    background-color: rgba(81, 83, 105, 0.47);
    width: 100%;
    margin: 0 ;
}

/*-------------nav---------------*/
.nav{
    font-size: 13px;
    font-weight: 700;
    padding: 35px 0;
}
.nav__link{
    margin-left: 35px;
    color: white;
    text-decoration: none;
}
.nav__link:hover{
    opacity: 50%;
}
